@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color:#f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif; 
}

* { 
    outline: 1px solid lime;
}

#header { 
    background-color:#2d303a;
    height:90px;
    color:white;
    border-bottom: solid 6px #505a81;
}

.nav { 
    max-width:950px;
    margin:auto;
    display:grid;
    grid-template-columns: 200px auto; 
}

.logo {
    margin-top: 35px;
    font-size: 1.4rem;
}

.links {
    margin-top: 40px;
    font-size:0.75rem;
    text-align:right;
    color: #505a81;
}

.links a {
    color:white;
    text-decoration:none;
    padding: 0 10px;
}

.salmon {
    color:#f16c65;
}

.banner{ 
    text-align:center;
    background-color:#f06c64;

}

.banner img { 
    max-width: 780px;
    width: 90%;
}

.services { 
    background-color:#f2f2f2;
    height:150px;
    color:#767e9e;
    margin-left:20px;
    margin-right:20px;
}

#our-services {
    margin-bottom:20px;
    margin-top:55px;
    text-align: left;
    font-size:2rem;
    grid-column:1/7;
    height: 50px;
    
}

#services-body{
    margin-bottom:20px;
    font-size:1rem;
    text-align:left;
    margin-top: 0px;
    
}

.services-columns {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:#666d89;
    margin-bottom:20px;
    margin: 0 20px;
}

.pencil img {
    max-width:780px;
    width:90%;
    padding:20px;
    
}
#headerpencil {
    padding:20px;
    
}

.lightbulb img{ 
    max-width:780px;
    width:90px;
    padding:20px;
}

#headerlightbulb {
    padding:20px;
    
    
}
.love img {
    max-width:780px;
    width:90px;
    padding:20px;

}
#headerlove {
    padding:20px;
    
}


@media screen and (max-width:480px) {
    
    body{ 
        background-color:lime;
    }
    .links {
        margin-top:10px;
        text-align:center;
    }
    
}

